<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-gray-900">Hoteles</h1>
      <p class="mt-2 text-sm text-gray-700">Tabla de Hoteles Disponibles para Booking: Destinos Exclusivos y Comodidades Excepcionales.</p>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
      <button type="button" class="block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" (click)="createNewHotel()">Nuevo Hotel</button>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Nombre / Proveedor</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Destino</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Estado</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Creado por:</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Creado en:</th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                <span class="sr-only">Editar</span>
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
            <ng-container *ngFor="let hotelEl of hotels; let index = index">
              <tr>
                <td class="whitespace-nowrap py-3 pl-4 pr-3 text-sm sm:pl-0">
                  <div class="flex items-center">
                    <div class="h-11 w-11 flex-shrink-0">
                      <img class="h-11 w-14" [src]='hotelEl?.imagePath' alt="">
                    </div>
                    <div class="ml-4">
                      <div class="font-medium text-gray-900">{{hotelEl.name}}</div>
                      <div class="mt-1 text-gray-500">{{hotelEl.suplierAgency}}</div>
                    </div>
                  </div>
                </td>
                <td class="whitespace-nowrap px-3 py-3 text-sm text-gray-500">
                  <div class="text-gray-900">{{hotelEl.destiny}}</div>
                  <div class="mt-1 text-gray-500">{{hotelEl.country}}</div>
                </td>
                <td class="whitespace-nowrap px-3 py-3 text-sm text-gray-500">
                  <span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20" *ngIf="hotelEl.isActive">Activo</span>
                  <span class="inline-flex items-center rounded-md bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-inset ring-red-600/20" *ngIf="!hotelEl.isActive">Desactivado</span>
                </td>
                <td class="whitespace-nowrap px-3 py-3 text-sm text-gray-500">Damian Lopez</td>
                <td class="whitespace-nowrap px-3 py-3 text-sm text-gray-500">20/01/2024 12:00</td>
                <td class="relative whitespace-nowrap py-3 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                  <div class="flex gap-2">
                    <span class="isolate inline-flex rounded-md shadow-sm">
                      <button type="button" class="relative inline-flex items-center gap-x-1.5 rounded-l-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10" [routerLink]="[index]">
                        <img src="./../../../../assets/images/icons/view.svg" style="max-width: 24px;">
                      </button>
                      <button type="button" class="relative -ml-px inline-flex items-center rounded-r-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">
                        <img src="./../../../../assets/images/icons/copy.svg" style="max-width: 28px;">
                      </button>
                      <button type="button" class="relative -ml-px inline-flex items-center rounded-r-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">
                        <img src="./../../../../assets/images/icons/edit.svg" style="max-width: 24px;">
                      </button>
                    </span>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
